.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #07050f;
    background-image: linear-gradient(180deg, #07050f 0%, #80ccd0 100%);
}

.main-alt {
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #07050f;
    background-image: linear-gradient(0deg, #07050f 0%, #80ccd0 100%);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.alt-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-speech {
    cursor: pointer;
    border: 1px solid gray;
    transition: 1s all;
    padding: 10px 10px;
    border-radius: 5px;
}

.btn-speech:hover {
    background-color: #949990;
    transition: 1s all;
    color: white;
    border: 1px solid white;


}

.container-top-main  {
    margin-left: 5px;
}

.array-item {
    text-align: center;
}

.container-top-main  button{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #E7C916;
    cursor: pointer;
    border-radius: 5px;
    transition: 1s all;
}

.container-top-main button:hover {
    background-color: #95631D;
    transition: 1s all;

}

.btn-holder button {
    border: none;
    margin-left: 10px;
    width: 60px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #78D32A;
    transition: 1s all;
}

.btn-holder button:hover {
    background-color: #40671F;
    transition: 1s all;
}

.btn-holder input {
    width: 60px;
    height: 39px;
    margin-left: 10px;
    border-radius: 4px;
    outline: none;
    border: none;
    text-align: center;
}

.container-bottom {
    display: flex;
    justify-content: center;
}

.box-item {
    height: 20px;
    width: 20px;
    background-color: red;
    margin-top: 10px;
    margin-right: 10px;
}

.box-item-starter{
    height: 20px;
    width: 20px;
    background-color: gray;
    margin-top: 10px;
    margin-right: 10px;
}

.new-data-input {
    width: 40px;
    height: 15px;
}

.reset, .logout, .new-data-btn{
    height: 20px;
}


